.m-hd {
  width: 100%;
  position: absolute;
  z-index: 2;
  height: 130px;
  padding: 45px 0 0 0;
}

.m-hd .am-container {
  position: relative;
  max-width: 1200px;
}

.m-hd .m-logo {
  display: block;
  float: left;
  font-size: 22px;
  line-height: 40px;
  width: 165px;
  color: #fff;
  text-indent: -9999px;
  -webkit-background-size: 125px 40px;
  background-size: 125px 40px;
  margin-right: 20px;
}

.m-hd ul li {
  list-style-type: none;
}

.m-hd .m-nav a {
  color: #fff;
}

.m-hd .m-nav a:hover {
  background: #ba1f2e;
  border-radius: 2px;
  -webkit-transition: background-color 300ms ease-out, border-color 300ms ease-out;
  transition: background-color 300ms ease-out, border-color 300ms ease-out;
}

.m-hd .am-sticky {
  background: #1a1f2a;
  padding: 15px 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .m-hd {
    height: 50px;
    padding: 0;
  }
}

.m-hd .am-header a {
  color: #fff;
}

#r-nav .am-offcanvas-bar {
  width: 200px;
}

#r-nav p {
  border-bottom: 1px solid #4F4F4F;
  padding-bottom: 20px;
}

#r-nav p a:hover {
  color: #dd514c;
}
